<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Test Suite" thread-count="3"
	parallel="tests" verbose="1">

	<!-- parallel="classes" OR parallel="methods" but parallel="tests" is the 
		best practice in real time -->
	<!-- Verbose is to display information on console. verbose range is 1 -10 -->

	<!-- for each class (can have multiple test cases inside class) creating 
		one test block is best practice -->

	<listeners>
		<listener
			class-name="com.ohrm.listeners.ExtentReportListener" />
			<listener
			class-name="com.ohrm.listeners.ScreenshotListenerTestNG" />
			<listener
			class-name="com.ohrm.listeners.TestAllureListener" />
			<listener
			class-name="com.ohrm.listeners.TesultsListener" />
	</listeners>

	<test name="LoginPage Test">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.ohrm.tests.LoginPageTest" />
		</classes>
	</test>

	<test name="DashBoardPage Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.ohrm.tests.DashBoardPageTest" />
		</classes>
	</test>

<!-- 	<test name="AddEmployeePage Test">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.ohrm.tests.AddEmployeePageTest" />
		</classes>
	</test> -->
</suite>